<footer>
    <hr>
    <figure id="school">
        <img src="img/csumb.png" alt = "footer" />
    </figure>
 <details> 
    <summary>This website was established in: <%= someDate.toDateString() %></summary>
    <summary>Patrick Trias, CST 336. 2018&copy; References Below</summary>
     <a href="https://www.agilealliance.org/agile101/the-agile-manifesto/">Agile Manifesto & Principles</a><br />
     <a href="https://www.scrum.org/resources/scrum-values-poster">Scrum Org</a><br />
     <a href="https://www.mountaingoatsoftware.com/agile/scrum">Scrum Positions</a><br />  
 </details>
</footer>
        <!-- closing footer -->